* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    color: #000;
    background-color: rgb(234, 210, 183);
    font-family: Arial, sans-serif;
    font-size: 16px;
    height: 100%;
    font-family: 'Serif', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('picz/cover1.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
}
/*nav*/
.navbar{
    background-color: #f8f9fa;  
    padding: 15px 35px;  

    background-color:/*kahit anong color*/ #363062; 

    margin-bottom: 3%;
}

.navbar-nav .nav-link {
    padding: 5px 10px; 
    margin: 0 10px; 
    color: white; 
}
.navbar-brand {
    color: white; 
    font-size: 1.5rem;  
    font-weight: bold;
}
/*nav*/

button {
    width: 180px;
    font-size: 25px;
    font-weight: bolder;
    background: linear-gradient(to bottom right, rgba(3, 103, 123, 0.793), rgba(0, 185, 163, 0.6));
    color: white;
    border: rgba(54, 157, 212, 0.37) 2px solid;
    border-radius: 20px;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0 0 20px rgba(7, 90, 132, 0.447);
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    transition: transform 0.3s ease; /* Add transition for smooth effect */
}

button:hover {
    transform: scale(1.1); /* Zoom effect */
}




.container {
    margin-top: 5%;
    margin-left: 5%;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 40%;
}

.container2 {
    margin-top: 5%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.overlay2 {
    text-align: center;
    color: white;
    text-shadow: #00000096 4px 2px 2px;
    background-color: rgba(6, 34, 34, 0.193); /* Add slight overlay for better contrast */
    padding: 20px;
    border-radius: 10px;
}


.overlay {
    text-align: center;
    color: white;
    text-shadow: #00000096 4px 2px 2px;
    background-color: rgba(25, 138, 136, 0); /* Add slight overlay for better contrast */
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 50px;
    line-height: 1.2;
}

p {
    font-size: 30px;
    margin-bottom: 20px;
}


.josefin-sans-header{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

